<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Prompt:wght@500;700&display=swap")
    link(rel="stylesheet" href="composition.css")
    link(rel="canonical" href="https://ixkaito.github.io/css-grid-mondrian/")
    title CSS Grid Mondrian
    meta(name="description" content="Replicas of Piet Mondrian's artworks using only CSS Grid.")
    meta(property="og:title" content="CSS Grid Mondrian")
    meta(property="og:description" content="Replicas of Piet Mondrian's artworks using only CSS Grid.")
    meta(property="og:image" content="https://repository-images.githubusercontent.com/271566965/bf5f4200-d645-11ea-8c26-afe2b6b8d3e2")
    meta(property="og:url" content="https://ixkaito.github.io/css-grid-mondrian/")
    meta(property="og:type" content="website")
    meta(name="twitter:card" content="summary_large_image")
  body
    h1 CSS Grid Mondrian

    - var composition = "https://github.com/ixkaito/css-grid-mondrian/blob/master/src/composition.scss";
    - var google = "https://www.google.com/search?tbm=isch&q=";

    mixin a(from, to, color)
      - for(var i = from; i <= to; i++)
        div(class=`a${i} ${color}`)

    a.canvas.composition-with-large-red-plane-yellow-black-gray-and-blue-1921(
      href=`${composition}#L86-L109`
      target="_blank"
      rel="noopener"
    )
      +a(1, 3, 'red')
      +a(4, 10, 'yellow')
      +a(11, 29, 'black')
      +a(30, 34, 'gray')
      +a(35, 35, 'blue')
    h2
      a(
        href=`${google}Composition+with+Large+Red+Plane,+Yellow,+Black,+Gray,+and+Blue,+1921`
        target="_blank"
        rel="noopener"
      ) Composition with Large Red Plane, Yellow, Black, Gray, and Blue, 1921

    a.canvas.tableau-i-1921(
      href=`${composition}#L111-L126`
      target="_blank"
      rel="noopener"
    )
      +a(1, 11, 'black')
      +a(12, 12, 'red')
      +a(13, 15, 'gray')
      +a(16, 16, 'yellow')
      +a(17, 17, 'blue')
    h2
      a(
        href=`${google}Tableau+I,+1921`
        target="_blank"
        rel="noopener"
      ) Tableau I, 1921

    a.canvas.lozenge.lozenge-composition-with-yellow-black-blue-red-and-gray-1921(
      href=`${composition}#L128-L149`
      target="_blank"
      rel="noopener"
    )
      .inner
        +a(1, 1, 'yellow')
        +a(2, 11, 'black')
        +a(12, 12, 'blue')
        +a(13, 13, 'red')
    h2
      a(
        href=`${google}Lozenge+Composition+with+Yellow,+Black,+Blue,+Red,+and+Gray,+1921`
        target="_blank"
        rel="noopener"
      ) Lozenge Composition with Yellow, Black, Blue, Red, and Gray, 1921

    a.canvas.tableau-ii-1922(
      href=`${composition}#L151-L171`
      target="_blank"
      rel="noopener"
    )
      +a(1, 1, 'yellow')
      +a(2, 9, 'black')
      +a(10, 11, 'blue')
      +a(12, 13, 'gray')
      +a(14, 15, 'red')
    h2
      a(
        href=`${google}Tableau+II,+1922`
        target="_blank"
        rel="noopener"
      ) Tableau II, 1922

    a.canvas.lozenge.tableau-i-lozenge-with-four-lines-and-gray-1926(
      href=`${composition}#L173-L186`
      target="_blank"
      rel="noopener"
    )
      .inner
        +a(1, 5, 'black')
        +a(6, 6, 'gray')
    h2
      a(
        href=`${google}Tableau+I:+Lozenge+with+Four+Lines+and+Gray,+1926`
        target="_blank"
        rel="noopener"
      ) Tableau I: Lozenge with Four Lines and Gray, 1926

    a.canvas.lozenge.lozenge-with-two-lines-and-blue-color-1926(
      href=`${composition}#L188-L199`
      target="_blank"
      rel="noopener"
    )
      .inner
        +a(1, 3, 'black')
        +a(4, 4, 'blue')
    h2
      a(
        href=`${google}Lozenge+with+Two+Lines+and+Blue+Color,+1926`
        target="_blank"
        rel="noopener"
      ) Lozenge with Two Lines and Blue Color, 1926

    a.canvas.composition-ii-with-red-blue-and-yellow-1930(
      href=`${composition}#L201-L214`
      target="_blank"
      rel="noopener"
    )
      +a(1, 6, 'black')
      +a(7, 7, 'red')
      +a(8, 8, 'blue')
      +a(9, 10, 'yellow')
    h2
      a(
        href=`${google}Composition+II+with+Red,+Blue,+and+Yellow,+1930`
        target="_blank"
        rel="noopener"
      ) Composition II with Red, Blue, and Yellow, 1930

    a.canvas.composition-with-yellow-patch-1930(
      href=`${composition}#L216-L228`
      target="_blank"
      rel="noopener"
    )
      +a(1, 6, 'black')
      +a(7, 7, 'yellow')
    h2
      a(
        href=`${google}Composition+with+Yellow+Patch,+1930`
        target="_blank"
        rel="noopener"
      ) Composition with Yellow Patch, 1930

    a.canvas.composition-iii-with-blue-yellow-and-white-1936(
      href=`${composition}#L230-L242`
      target="_blank"
      rel="noopener"
    )
      +a(1, 1, 'blue')
      +a(2, 7, 'black')
      +a(8, 8, 'yellow')
    h2
      a(
        href=`${google}Composition+III+with+Blue+Yellow+and+White,+1936`
        target="_blank"
        rel="noopener"
      ) Composition III with Blue Yellow and White, 1936

    a.canvas.composition-with-red-and-black-1936(
      href=`${composition}#L244-L262`
      target="_blank"
      rel="noopener"
    )
      +a(1, 14, 'black')
      +a(15, 15, 'red')
    h2
      a(
        href=`${google}Composition+with+Red+and+Black,+1936`
        target="_blank"
        rel="noopener"
      ) Composition with Red and Black, 1936

    a.canvas.composition-with-red-yellow-and-blue-1942(
      href=`${composition}#L264-L283`
      target="_blank"
      rel="noopener"
    )
      +a(1, 1, 'yellow')
      +a(2, 49, 'black')
      +a(50, 52, 'blue')
      +a(53, 54, 'red')
    h2
      a(
        href=`${google}Composition+with+Red,+Yellow+and+Blue,+1942`
        target="_blank"
        rel="noopener"
      ) Composition with Red, Yellow and Blue, 1942

    a.canvas.new-york-city-i-1942(
      href=`${composition}#L285-L315`
      target="_blank"
      rel="noopener"
    )
      +a(1, 77, 'yellow')
      +a(78, 122, 'blue')
      +a(123, 155, 'red')
    h2
      a(
        href=`${google}New+York+City+I,+1942`
        target="_blank"
        rel="noopener"
      ) New York City I, 1942

    a.canvas.broadway-boogie-woogie-1942-43(
      href=`${composition}#L317-L441`
      target="_blank"
      rel="noopener"
    )
      +a(1, 279, 'yellow')
      +a(280, 381, 'red')
      +a(382, 473, 'blue')
      +a(474, 621, 'gray')
    h2
      a(
        href=`${google}Broadway+Boogie+Woogie,+1942-43`
        target="_blank"
        rel="noopener"
      ) Broadway Boogie Woogie, 1942-43

    footer
      p
        a(
          href="https://github.com/ixkaito/css-grid-mondrian"
          target="_blank"
          rel="noopener"
        )
          svg(width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(fill-rule="evenodd" clip-rule="evenodd" d="M11.9994 2C6.47766 2 2 6.4771 2 12.0006C2 16.4183 4.86503 20.1664 8.83911 21.4889C9.33912 21.5806 9.52163 21.2719 9.52163 21.0069C9.52163 20.7695 9.51297 20.1406 9.50813 19.3061C6.72646 19.9104 6.13953 17.9656 6.13953 17.9656C5.68482 16.8104 5.02924 16.5029 5.02924 16.5029C4.1213 15.8824 5.09794 15.895 5.09794 15.895C6.10147 15.9657 6.62965 16.9255 6.62965 16.9255C7.5217 18.4537 8.97011 18.0124 9.53992 17.7564C9.63078 17.1102 9.88911 16.6695 10.1748 16.4195C7.95425 16.1672 5.6198 15.3093 5.6198 11.4772C5.6198 10.3856 6.00944 9.4929 6.64911 8.79386C6.54629 8.54088 6.20312 7.52415 6.74715 6.14738C6.74715 6.14738 7.58677 5.8785 9.49707 7.17252C10.2947 6.95072 11.1502 6.83979 12.0006 6.83592C12.8498 6.83979 13.7053 6.95072 14.5041 7.17252C16.4132 5.8785 17.2513 6.14738 17.2513 6.14738C17.7969 7.52415 17.4536 8.54088 17.3508 8.79386C17.9917 9.4929 18.3787 10.3856 18.3787 11.4772C18.3787 15.3188 16.0407 16.1642 13.8129 16.4118C14.172 16.7205 14.4918 17.3308 14.4918 18.2636C14.4918 19.6005 14.4795 20.679 14.4795 21.0069C14.4795 21.2743 14.6596 21.5854 15.1672 21.4878C19.1374 20.1628 22 16.4172 22 12.0006C22 6.4771 17.5223 2 11.9994 2Z" fill="#000")
        a(
          href="https://codepen.io/ixkaito/pen/BaKBPJY"
          target="_blank"
          rel="noopener"
        )
          svg(width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M17.12 12.8892V11.1108L15.7917 12L17.12 12.8892ZM18.1833 13.8842C18.1832 13.9073 18.1815 13.9304 18.1783 13.9533L18.1742 13.9767L18.165 14.0208L18.1567 14.0467C18.1525 14.06 18.1483 14.0725 18.1425 14.0858L18.1308 14.1108C18.1254 14.123 18.1195 14.1349 18.1133 14.1467L18.0975 14.1717C18.0785 14.2019 18.0561 14.2298 18.0308 14.255L18.0092 14.2758C17.9995 14.2846 17.9895 14.2929 17.9792 14.3008L17.955 14.3192L17.9467 14.3258L12.295 18.0942C12.2077 18.1525 12.105 18.1837 12 18.1837C11.895 18.1837 11.7923 18.1525 11.705 18.0942L6.05333 14.325L6.045 14.3183C6.02596 14.3052 6.00786 14.2907 5.99083 14.275L5.96917 14.2542L5.9425 14.2258L5.925 14.2025C5.90309 14.1741 5.88437 14.1433 5.86917 14.1108L5.8575 14.085C5.85227 14.0721 5.84755 14.0591 5.84333 14.0458L5.835 14.0208C5.83167 14.0058 5.82833 13.9908 5.82667 13.9758L5.82167 13.9525C5.81847 13.9296 5.8168 13.9065 5.81667 13.8833V10.1158C5.81667 10.0925 5.81833 10.07 5.82167 10.0467L5.82583 10.0242L5.835 9.97917L5.84333 9.95417C5.86309 9.88732 5.89722 9.8256 5.94333 9.77333L5.96917 9.745L5.99083 9.72417C6.0079 9.70852 6.02599 9.69405 6.045 9.68083L6.05333 9.67417L11.705 5.90667C11.7924 5.84841 11.895 5.81732 12 5.81732C12.105 5.81732 12.2076 5.84841 12.295 5.90667L17.9467 9.67417L17.955 9.68083L17.98 9.69917L18.0092 9.72417C18.0175 9.73083 18.0233 9.7375 18.0308 9.745C18.0563 9.77006 18.0786 9.79803 18.0975 9.82833L18.1133 9.85333C18.1196 9.86505 18.1255 9.87701 18.1308 9.88917L18.1425 9.91417C18.1483 9.9275 18.1525 9.94083 18.1567 9.95333L18.165 9.97917C18.1683 9.99417 18.1717 10.0092 18.1733 10.0242L18.1783 10.0467C18.1815 10.0696 18.1832 10.0927 18.1833 10.1158V13.8842ZM12 2C6.4775 2 2 6.47667 2 12C2 17.5225 6.4775 22 12 22C17.5233 22 22 17.5233 22 12C22 6.4775 17.5233 2 12 2ZM12 10.7433L10.1208 12L12 13.2583L13.8792 12L12 10.7433ZM12.5317 14.18V16.6592L16.695 13.8842L14.835 12.64L12.5317 14.18ZM7.305 13.8833L11.4683 16.6583V14.18L9.165 12.6392L7.305 13.8833ZM16.695 10.1167L12.5317 7.34167V9.82L14.835 11.3617L16.695 10.1167ZM11.4683 9.82V7.34167L7.305 10.1167L9.165 11.3608L11.4683 9.82ZM6.88 11.1108V12.8892L8.20833 12L6.88 11.1108Z" fill="#000")
      p Original artworks created by Piet Mondrian / Coded by #[a(href="https://github.com/ixkaito" target="_blank" rel="noopener") Kite]
